
    <div class="modal fade" id="signup" tabindex="-1" aria-labelledby="signup" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <button type="button button-sm" class="btn-close offset-11" data-bs-dismiss="modal"
                        aria-label="Close"></button>
                        <form id="signup-form" class="row" action="/sign-up" method="POST">
                            <div class="col-12">
                                <label for="first" class="form-label">First name</label>
                                <input type="text" class="form-control" id="first" name="first" value="" required>
                            </div>
                            <div class="col-12">
                                <label for="last" class="form-label">Last name</label>
                                <input type="text" class="form-control" id="last" name="last" value="" required>
                            </div>
                            <div class="col-12">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="col-12">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn col-6 offset-3 mt-4"
                            style="background-color: #6FB3B8" data-bs-target="#signupPost" data-bs-toggle="modal" > Sign up</button>
                    </form>
                </div>
            </div>
        </div>
    </div>