<%- include('partials/navbar') %>
<div class="m-5">
    <a href="/messages/1" class="viewmsg"> &#8592; View all messages </a>
</div>
<div class="msgform">
    <h1 class=text-center>Create a message</h1>
    <div class="container-sm">
        <form class="row" action="/message-form" method="POST">
            <div class="col-6 offset-3 mt-2">
                <label for="title" class="form-label">Title</label>
                <input type="title" class="form-control" id="title" name="title" required>
            </div>
            <div class="col-6 offset-3 mt-2 ">
                <label for="message" class="form-label">Message</label>
                <textarea class="form-control" id="message" name="message" rows="7"required> </textarea>
            </div>
            <div class="offset-3 mt-3">
                <button type="submit" class="btn" style="background-color: #9ab6b6">Create message</button>
            </div>
        </form>
    </div>
</div>

    <%- include('partials/footer') %>
