:root {
--biege: #f6f6f2;
--lightblue: #badfe7;
--green: #6FB3B8;
--darkerg: #388087;
}

body{
    background-color: var(--biege) !important;
}

.main-nav {
    background-color: var(--lightblue);
    border-bottom:1px solid rgb(173, 191, 191);
}

.messagez {
    color: var(--lightblue);
}

b {
    color: var(--darkerg);
}

.navtitle {
    font-size: 1.8em !important;
}


.card { 
    border: 1px solid var(--biege); 
    border-radius: .35em !important;
}

.page-link {
    color: var(--darkerg) !important;
    border: 1px solid var(--darkerg);
}

.pagination .page-item.active .page-link {
    background-color: var(--lightblue) !important;
    border-color: var(--lightblue) !important; 
}

.pagination .page-item:hover .page-link {
    background-color: var(--lightblue) !important;
    border-color: var(--lightblue)!important; 
}

.pagination .page-item.disabled .page-link {
    background-color: rgb(217, 222, 222) !important; 
    color:rgb(172, 196, 196) !important; 
}

.footer img {
    width: 20px;
    height: 20 px;
}

footer a {
    text-decoration: none;
    color: black;
}

.viewmsg {
    color: black;
    text-decoration: none;
}


.welcome,
.msgform,
.codeDiv {
    height: 90vh;
}